<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Title</title>
</head>
<body>

<h2>Welcome New Student</h2>


<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!-- Concatenation-->
<h2 th:text="${'Welcome ' + students.get(0).firstName}"></h2>

<!-- Links -->
<a th:href="@{https://cydeo.com}">Cydeo Homepage</a><br>
<a th:href="@{/student/welcome}">Welcome Page</a><br>
<a th:href="@{/student/welcome(id=${students.get(0).firstName})}">Student Page</a>

<!--Iteration-->
<ul>
    <li th:each="student : ${students}" th:text="${student.firstName}">Student List</li>
</ul>

<!-- Conditional Logic -->
<div th:text="${students.get(0).age > 25 ? 'Eligible' : 'NOT ELIGIBLE'}"></div>

<span th:if="${students.get(0).getState() == 'Arizona'}">Arizona</span>
<span th:unless="${students.get(0).getState() == 'Arizona'}">Not Arizona</span>


</body>
</html>
